@media (max-width: 912px) {
  nav .navbar .nav-menu {
    display: none;
  }
  nav .navbar .nav-menu .cancle-btn,
  .navbar .menu-btn {
    display: block;
  }
  header .header-content .nepal {
    font-size: 25px;
  }
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 815px) {
  header {
    width: 100%;
  }
  .about .description {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 815px) {
  header {
    width: 100%;
  }
  .about .description .about-content {
    width: 100%;
  }
  .about .description .about-image {
    width: 100%;
  }
  .inner-content {
    width: 100%;
  }
  .tour .content .tour-details {
    justify-content: center;
    flex-direction: column;
  }
  .tour .tour-details .left {
    width: 100%;
    margin: 3px 8px;
  }
  .tour .tour-details .right {
    width: 100%;
    margin: 3px 8px;
  }
}
@media (max-width: 375px) {
  header {
    width: 100%;
  }
  .about {
    margin: 10px 0;
  }
  .about .description .about-content {
    width: 100%;
  }
  .about .description .about-image {
    width: 100%;
  }
  .inner-content {
    width: 100%;
  }
  .tour {
    margin: 10px 0;
  }
  .tour .content .tour-details {
    justify-content: center;
    flex-direction: column;
  }
  .tour .tour-details .left {
    width: 100%;
    margin: 3px 8px;
  }
  .tour .tour-details .right {
    width: 100%;
    margin: 3px 8px;
  }
}
